.background-img {
    background-image: url('../../../images/background/bg-image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
}