.background-img {
    background-image: url('../../../images/background/bg-image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-style {
    background-color: #2C0303;
}