.footer-style {
    background-color: #4e2626;
}

.footer-text {
    color: #985c5c;
}

.icon-style {
    width: 30px;
    height: 30px;
    padding: 4px;
    border-radius: 50%;
    font-size: 25px;
    margin-left: 11px;
    cursor: pointer;
}